<p id="notice"><%= notice %></p>

<p>
  <strong>Lank:</strong>
  <%= @position.lank %>
</p>

<p>
  <strong>Name:</strong>
  <%= @position.name %>
</p>

<p>
  <strong>Abbreviation:</strong>
  <%= @position.abbreviation %>
</p>

<%= link_to 'Edit', edit_position_path(@position) %> |
<%= link_to 'Back', positions_path %>
